@import url('https://fonts.googleapis.com/css?family=Roboto');

*  {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  height: 100%;
  .header {
    height: 100%;
    background-image: url("../img/header-bg.png");
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: white;
    .container {
      box-sizing: border-box;
      display: flex;
      padding: 90px 90px 0 90px;
      .sub-header {
        flex-basis: 75%;
        h1 {
          font-size: 50px;
        }
        mark {
          background: transparent;
          color: white;
          &.yellow {
            color: yellow;
            text-transform: uppercase;
          }
        }
        p {
          font-size: 25px;
          font-weight: lighter;
        }
        .date {
          font-size: 40px;
          margin-top: 30px;
          margin-bottom: 60px;
        }

      }
      .passes {
        flex-basis: 25%;
      }
    }
    .registrate {
      text-align: center;
      button {
        background: transparent;
        width: 50%;
        padding: 0 10px;
        margin-bottom: 20px;
        border: solid 1px yellow;
        color: yellow;
        &:hover {
          background: yellow;
          border: solid 1px white;
        }
        
        a {  
          color: yellow;
          font-size: 30px;    
          width: 100%;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            color: white;
          }
        }
      }
      p {
       font-size: 20px;
      }   
    }
    .click-down {
      position: relative;
      margin-top: 15px;
      height: 100px;
      img {
        position: absolute;
        left: calc(50% - 35px);
        width: 70px;
        animation: 1s linear arrow-down infinite;
      }
    }
    @keyframes arrow-down {
      0%{}
      25%{top:12px;}
      50%{top:25px;}
      100%{top:50px;}
    }
  }
  .footer {
    border-top: solid 1px white;
    background: #55719f;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    .managers, .headliner {
      box-sizing: border-box;
      flex-basis: 50%;
      padding: 2vw;
      color: white;
    }
    .managers {
      display: flex;
      border-right: solid 1px white;
      .logo, h3 {
        flex-basis: 50%;
        align-self: center;
      }
      h3 {
        font-size: 30px;
        align-self: center;
        font-weight: lighter;
      }
      .logo img {
        width: 100%;
        height: auto;
      }
    }
    .headliner {
      display:flex;
      .headliner-logo {
        flex-basis: 30%;
        img {
          width: 100%;
        }
      }
      .headliner-descr {
        align-self: center;
        h3 {
          font-size: 30px;
          text-transform: uppercase;
          font-weight: lighter;
        }
        p {
          font-size: 10px;
        }
      }

    }
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    .header {
      .container{
        .sub-header {
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 18px;
          }
          .date {
            font-size: 25px;
            margin-top: 70px;
            margin-bottom: 120px;
          }
        }
      }
      .registrate {
        button >a {
          font-size: 30px;
        }

        p {
          font-size: 13px;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    .header {
      .container{
        .sub-header {
          h1 {
            font-size: 20px;
          }
          .date {
            font-size: 18px;
            margin-bottom: 170px;
          }
        }
      }
      .registrate {
        button >a {
          font-size: 20px;
        }

        p {
          font-size: 10px;
        }
      }
      .click-down {
        img {
          width: 50px;
          left: calc(50% - 25px);
        }
      }
    }
    .footer {
      .managers {
        h3 {
          font-size: 20px;
        }
      }
      .headliner .headliner-descr {
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
 .wrapper {
    .header {
      .container{
        padding: 40px 40px 0 40px;
        .sub-header {
          .date {
            margin-bottom: 220px;
          }
        }
      }
      .click-down {
        img {
          width: 30px;
          left: calc(50% - 15px);
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    .header {
      .container{
        .sub-header {
          h1 {
            font-size: 10px;
          }
          .date {
            font-size: 18px;
            margin-bottom: 250px;
          }
        }
      }
      .registrate {
        button >a {
          font-size: 10px;
        }

        p {
          font-size: 10px;
        }
      }
    }
    .footer {
      .managers {
        h3 {
          font-size: 10px;
        }
      }

      .headliner .headliner-descr {
        h3 {
          font-size: 10px;
        }
        p {
          font-size: 8px;
        }
      }
    }
  }
}


